<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:g="http://www.backbase.com/2008/gadget" xml:lang="en">

<head>
    <title>${widget.name}</title>
    <meta http-equiv="Content-Type" content="text/xml; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <!-- externals -->
    <link rel="stylesheet" href="bower_components/ionic/release/css/ionic.min.css" />
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" /> -->
    <script src="bower_components/angular/angular.min.js"></script>
    <!-- development -->
    <script src="bower_components/mock/dist/scripts/main.js"></script>
    <!-- widget -->
    <link rel="stylesheet" href="src/styles/index.css" type="text/css" />
    <!-- main widget -->
    <script src="src/scripts/index.js" charset="utf-8" async="true" defer="true"></script>
    <script>
        window.b$ = { portal: mock.Portal() };
        window.gadgets = mock.gadgets;
        mock.Widget().then(function(widget) {
            window.${widget.transforms.name.camelCase}(widget,[]).bootstrap();
        });

    </script>
</head>
<body
    ng-controller="MainCtrl as mainCtrl"
    class="${widget.name}">

</body>
</html>
