<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:g="http://www.backbase.com/2008/gadget" xml:lang="en">

<head>
    <title>${widget.name}</title>
    <meta http-equiv="Content-Type" content="text/xml; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <!-- externals -->
    <link rel="stylesheet" href="$(contextRoot)/static/features/[BBHOST]/ionic/release/css/ionic.min.css" />
    <script src="$(contextRoot)/static/features/[BBHOST]/angular/angular.min.js"></script>
    <!-- widget -->
    <link rel="stylesheet" href="src/styles/index.css" type="text/css" />
    <script src="src/scripts/index.js" charset="utf-8"></script>
</head>

<body g:onload="window.${widget.transforms.name.camelCase}(__WIDGET__, [/* angular dependencies */]).bootstrap()"
    ng-controller="MainCtrl as mainCtrl"
    class="${widget.name}">

    <div ng-controller="ErrorCtrl as errorCtrl"></div>
    <h2 ng-bind="mainCtrl.hello"></h2>

</body>
</html>
