{namespace Backbase}
/**
 * Container Template
 * @param item Item in context
 */
{template .testTemplate}
    <div class="bp-container B-test-template" data-pid="{$item.name}">
        <div class="bp-area B-test-template--area">
            {foreach $child in $item.children}
            	{include($child) | noAutoescape}
            {/foreach}
        </div>
    </div>
{/template}