<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:g="http://www.backbase.com/2008/gadget" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/xml; charset=UTF-8" />
    <link rel="stylesheet" href="styles/base.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body g:onload="requireWidget(__WIDGET__, 'scripts/main')"  class="<%=widget_name%>">
    <div ng-controller="MainCtrl as mainCtrl">
        Hello World
    </div>
</body>
</html>
