<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" xmlns:g="http://www.backbase.com/2008/gadget">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <title>${widget.name}</title>

    <link rel="stylesheet" type='text/css' href="styles/base.css"/>
</head>

<body class="${widget.namespace} ${widget.name}" g:onload="${widget.namespace}.widgets['${widget.name}'].init(__WIDGET__)">
    <script type="text/javascript" src="scripts/main.js"></script>
</body>
</html>