<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:g="http://www.backbase.com/2008/gadget" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/xml; charset=UTF-8" />
    <link rel="stylesheet" href="dist/styles/base.css" type="text/css" />
</head>

<body g:onload="requireWidget(__WIDGET__, 'dist/scripts/main')" ng-controller="MainCtrl as mainCtrl" class="lp-<%=bundle_prefix%>-<%=widget_name%>">

    <lp-template src="templates/<%=widget_name%>-tpl.ng.html"></lp-template>

</body>
</html>
