<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:g="http://www.backbase.com/2008/gadget" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/xml; charset=UTF-8" />
    <link rel="stylesheet" href="styles/base.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.15/require.js"></script>
    <script src="/bower_components/config/requirejs.conf.js"></script>
    <script>
    require(['base'], function (base) {
        var __WIDGET__ = {
            body:  document.body,
            getPreference: function(name){
                switch(name){
                    case 'some-pref': return 'some-value'; break;
                }
            }
        }
        base.requireWidget(__WIDGET__ , 'scripts/main');
    });
    </script>

</head>

<body ng-controller="MainCtrl as mainCtrl" class="lp-<%=bundle_prefix%>-<%=widget_name%>">

    <lp-template src="templates/<%=widget_name%>-tpl.ng.html"></lp-template>

</body>
</html>
